@page "/"

@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>ChatSphere</PageTitle>

<div class="main-container">
    <div class="hero-image">
        <div class="overlay">
            <div class="content">
                <h1 class="title">Welcome to ChatSphere</h1>
                <div class="buttons">
                    <button @onclick="NavigateToLoginPage" class="login-button">Login</button>
                    <button @onclick="NavigateToRegisterPage" class="register-button">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
private void NavigateToLoginPage()
{
    Navigation.NavigateTo("/login");
}

private void NavigateToRegisterPage()
{
    Navigation.NavigateTo("/register");
}
}